<div class="jumbotron">
  <h1 class="title">18K Offer</h1>
  <p class="slogan">18K Offer 是一个提供18k薪水工作机会的求职网站.
  <br>
  我们希望借由这个网站,能让大家找到且应征上高薪且优质的工作.
  <br>
  凭借自己的努力和天份也会变 Winner
  </p>
  <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a> </p>
</div>

<section id="company">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="https://ww1.sinaimg.cn/large/006tKfTcly1fd8vsu7ydtj303k03kjr5.jpg" alt="search" class="img-thumbnail">
          <div class="caption">
            <h3>北京朝阳建外SOHO</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="https://ww4.sinaimg.cn/large/006tKfTcly1fd8vx8qaxwj303k03kjr5.jpg" alt="bid" class="img-thumbnail">
          <div class="caption">
            <h3>info@18koffer.com</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="https://ww2.sinaimg.cn/large/006tKfTcly1fd8vuuubqxj303k03kmwx.jpg" alt="heart" class="img-thumbnail">
          <div class="caption">
            <h3>010-12344321</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
